<ion-view view-title="Accueil" align="justify">
    <ion-content class="home">
        <div class="row">
            <div class="col col-100">
                <img src="img/logo/logo2.png" height="117" width="215" id="logo"/>
            </div>
        </div>
        <div class="padding">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aenean pretium scelerisque sapien, id imperdiet lorem consectetur eget.
            Maecenas commodo, odio sed molestie vehicula, justo est congue lacus, ut consectetur tortor nisl nec purus.
            Morbi vitae nisl sagittis, fermentum velit quis, scelerisque libero. Morbi eget posuere odio, id pulvinar
            nisl.
            Aenean pulvinar placerat euismod. Duis finibus mattis arcu nec finibus. Quisque in ullamcorper dui,
            sed pellentesque nisi. Cras gravida cursus tincidunt. Praesent pretium erat venenatis ornare interdum.
            Proin accumsan at lorem ac dictum. Quisque sollicitudin sapien nec risus suscipit rhoncus.
            Vestibulum quis enim accumsan, elementum erat et, tristique tortor. Curabitur blandit luctus leo,
            ac lobortis enim efficitur sit amet. Ut et felis diam.
        </div>
    </ion-content>
</ion-view>