<ion-view view-title="Modifier l'événement" align="justify">
    <ion-nav-bar class="bar-calm" align-title="center">
        <ion-nav-buttons side="right">
            <button class="button" ui-sref="newEvent">
                <i class="icon ion-android-add"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="updateEvent">
        <ion-title class="title">
            <h1 align="center">Modifier l'événement</h1>
        </ion-title>
        <form novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-bell placeholder-icon "></i>
                    <input type="text" placeholder="Evénement" ng-model="event.name" required="required" value="">
                </label>
                <label class="item item-input" ng-click="openDatePicker()">
                    <i class="icon ion-android-calendar placeholder-icon"></i>
                    <input type="text" placeholder="Date" ng-model="event.date" value="">
                </label>
                <label class="item item-input" ng-click="openTimePicker()">
                    <i class="icon ion-clock placeholder-icon"></i>
                    <input type="text" placeholder="Heure" ng-model="event.hour" value="">
                </label>
                <label class="item item-input">
                    <i class="icon ion-location placeholder-icon"></i>
                    <input type="text" placeholder="Lieu" ng-model="event.place" required="required" value="">
                </label>
            </div>
            <button  ng-click="editEvent()"
                    class="button button-large button-calm saveButton">
                Enregistrer
            </button>
        </form>
    </ion-content>
    <ion-tabs class="tabs-background-calm tabs-icon-top" hide-tabs="">
        <a class="tab-item" ui-sref="showEvents">
            <i class="icon ion-android-list"></i>
            Evenements
        </a>
        <a class="tab-item" ui-sref="home">
            <i class="icon ion-android-home"></i>
            Accueil
        </a>
        <a class="tab-item" ui-sref="settings">
            <i class=" icon ion-android-settings"></i>
            Paramètres
        </a>
    </ion-tabs>
</ion-view>