<ion-view view-title="Connexion" align="justify">
    <ion-content class="login">
        <div class="row logo">
            <div class="col col-100">
                <img src="img/logo/logo2.png" height="117" width="215" id="logo"/>
            </div>
        </div>
        <ion-title class="title">
            <h1 align="center">Se connecter</h1>
        </ion-title>
        <div class="row">
            <button class="button button-block button-positive" ng-click="loginFacebook()">
                <div class="row">
                    <div class="col-10">
                        <i class="icon ion-social-facebook"></i>
                    </div>
                    <div class="col-90">
                        Se connecter avec facebook
                    </div>
                </div>
            </button>
        </div>
        <div class="row">
            <button class="button button-block button-assertive" ng-click="loginGoogle()">
                <div class="row">
                    <div class="col-10">
                        <i class="icon ion-social-googleplus"></i>
                    </div>
                    <div class="col-90">
                        Se connecter avec Google
                    </div>
                </div>
            </button>
        </div>
        <div class="row">
            <button class="button button-block button-calm" ng-click="loginTwitter()">
                <div class="row">
                    <div class="col-10">
                        <i class="icon ion-social-twitter"></i>
                    </div>
                    <div class="col-90">
                        Se connecter avec Twitter
                    </div>
                </div>
            </button>
        </div>


    </ion-content>
</ion-view>