<ion-view view-title="Nouvel invité" align="justify">
    <ion-nav-bar class="bar-calm" align-title="center">
        <ion-nav-buttons side="right">
            <button class="button" ui-sref="newEvent">
                <i class="icon ion-android-add"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="newGuest">
        <ion-title class="title">
            <h1 align="center">Nouvel Invité</h1>
        </ion-title>
        <form novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon "></i>
                    <input type="text" placeholder="Prénom" ng-model="guest.firstName" required="required">
                </label>
                <label class="item item-input">
                    <i class="icon ion-person placeholder-icon"></i>
                    <input type="text" placeholder="Nom" ng-model="guest.lastName">
                </label>
                <label class="item item-input">
                    <i class="icon ion-email placeholder-icon"></i>
                    <input type="text" placeholder="Adresse mail" ng-model="guest.email">
                </label>
            </div>
            <button ng-click="saveGuest()"
                    class="button button-large button-calm saveButton">
                Enregistrer
            </button>
        </form>
    </ion-content>
    <ion-tabs class="tabs-background-calm tabs-icon-top" hide-tabs="">
        <a class="tab-item" ui-sref="showEvents">
            <i class="icon ion-android-list"></i>
            Evenements
        </a>
        <a class="tab-item" ui-sref="home">
            <i class="icon ion-android-home"></i>
            Accueil
        </a>
        <a class="tab-item" ui-sref="settings">
            <i class=" icon ion-android-settings"></i>
            Paramètres
        </a>
    </ion-tabs>
</ion-view>